*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	background-color: rgb(172, 201, 231);
}
li {
	font-size: 2em;
}
a {
	text-decoration: none;
	color: rgb(33,33,33);
}
a:hover {
	color: rgb(245, 245, 245);
}
.container {
	margin: 100px 200px; 
	font-family: 'Helvetica', sans-serif; 
}
.container h1 {
	font-size: 3em;
	padding-bottom: 50px;
}